[submodule "components/http-parser"]
	path = components/http-parser
	url = https://github.com/maximkulkin/esp-http-parser.git
[submodule "components/wolfssl"]
	path = components/wolfssl
	url = https://github.com/maximkulkin/esp-wolfssl
[submodule "components/homekit"]
	path = components/homekit
	url = https://github.com/maximkulkin/esp-homekit
[submodule "components/esp32-owb"]
	path = components/esp32-owb
	url = https://github.com/DavidAntliff/esp32-owb.git
[submodule "components/esp32-ds18b20"]
	path = components/esp32-ds18b20
	url = https://github.com/DavidAntliff/esp32-ds18b20.git
